<div class="container">

<ol>
    <li class="email">
        <p><mat-icon aria-hidden="false" fontIcon="mail"></mat-icon>gnicolini&#64;outlook.com.ar</p>
    </li>
    <li class="linkedin">
        <p><mat-icon aria-hidden="false" fontIcon="person"></mat-icon><a href="https://www.linkedin.com/in/gnicolini/">Linkedin</a></p>
    </li>
    <li class="github">
        <p><mat-icon aria-hidden="false" fontIcon="work"></mat-icon><a href="https://github.com/GuidoNicolini">Githhub</a></p>
    </li>
</ol>


</div>